* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333333;
}

html, body {
    height: 100%;
}

.total-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Heebo', monospace;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
}

.menu-options a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', monospace;
    margin: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mobile-menu {
    display: flex;
}

.menu-options a:hover {
    border-bottom: 1px solid #333333;
}

.link {
    text-align: center;
}

.menu-options {
    display: flex;
}

.menu {
    background-color: white;
}

@media screen and (max-width: 760px) {
    .navbar {
        padding: 0;
        flex-direction: column;
    }

    .mobile-menu {
        justify-content: space-between;
    }

    .menu-options {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .menu-options a {
        width: fit-content;
    }

    .menu-btn {
        margin: 15px;
        cursor: pointer;
    }

    .menu-btn .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333333;
        transition: 1.5s all ease;
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        background-color: white;
    }

    .menu {
        position: fixed;
        margin-top: 62px;
        width: 100%;
        height: 100%;
        transition: 1.0s all ease;
        transform: translateX(1000px);
    }

    .active.menu {
        transform: translateX(0);
    }

    /*Autistic close button*/
    .active.menu-btn .bar:nth-child(2) {
        opacity: 0;
    }

    .active.menu-btn .bar:nth-child(1) {
        transform: translateY(8px) rotate(1755deg);
    }

    .active.menu-btn .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-1755deg);
    }
    /*Autistic close button*/

    .active.menu {
        transform: translateX(0);
    }
}