* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}

html, body {
    height: 100%;
}

.total-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.nav-1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.mobile-menu {
    display: flex;
}

.logo {
    font-family: 'Heebo', monospace;
    font-size: 1.4em;
    cursor: pointer;
}

.menu-options {
    display: flex;
}

.menu-options a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Meebo', monospace;
    font-size: 1.4em;
    font-weight: 300;
}

.menu-options a:hover {
    border-bottom: 1px solid #333333;
}

.logo:hover {
    transform: translateX(10px);
    transition-duration: 0.45s;
}

@media screen and (max-width: 800px) {
    .nav-1 {
        padding: 10px;
        flex-direction: column;
        height: 71px;
    }

    .mobile-menu {
        justify-content: space-between;
    }

    .menu-icon {
        margin-top: 5px;
        cursor: pointer;
    }

    .menu-icon .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333333;
        margin: 5px auto;
        transition: 1.0s all ease-in-out;
    }

    .menu-options .link {
        width: fit-content;
    }

    .menu-options {
        flex-direction: column;
    }

    .total-center {
        transition: 1s all ease;
        transform: translateY(-1000px);
    }

    .active-menu {
        height: 100%;
    }

    .logo.active {
        opacity: 0;
    }

    .nav-1.active-menu {
        position: fixed;
        width: 100%;
        padding: 0;
        background-color: white;
    }


    .mobile-menu.active {
        padding: 10px;
    }

    .main-content.active {
        transform: translateY(-10000px);
    }

    .menu-icon.active-menu .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active-menu .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active-menu .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .total-center.active-menu, .menu-options.active-menu {
        transform: translateY(0);
    }
}