#red-info {
    color: #EB5757;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pre-line {
    white-space: pre-line;
    margin-bottom: 10px;
    margin-top: 10px;
}

.team {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    margin-top: 150px;
}

.team-image {
    display: flex;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic {
    margin: 10px;
}

.profile-pic img {
    max-width: 100%;
    border-radius: 20px;
}

#div-img1 {
    width: 320px;
}

#pic1 {
    width: 260px;
}

#pic2 {
    width: 300px;
}

.reference {
    margin: 100px 70px;
}

.tweet {
    display: flex;
}

#carl {
    width: 70px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    margin-bottom: 10px;
}

.light-text {
    color: #828282;
}

.bottom-nav {
    background-color: #100E1D;
    display: flex;
    justify-content: space-around;
}

.bottom-nav * {
    color: white;
}

.links {
    padding: 20px;
}

.logo-cont {
    padding: 20px;
}

.links a {
    text-decoration: none;
    display: block;
    padding: 5px;
    cursor: pointer;
}

.social {
    display: flex;
}

.media {
    margin: 5px;
}

.padd {
    padding: 20px;
}

@media screen and (max-width: 1120px) {
    #div-img1 {
        width: 220px;
    }
    
    #pic1 {
        width: 160px;
    }
    
    #pic2 {
        width: 200px;
    }

    
    #msg {
        white-space: inherit;
    }
}

@media screen and (max-width: 890px) {
    #div-img1 {
        width: 200px;
    }
    
    #pic1 {
        width: 140px;
    }
    
    #pic2 {
        width: 160px;
    }
}

@media screen and (max-width: 830px) {
    .team {
        flex-direction: column;
    }

    .reference {
        margin: 5px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 700px) {
    .bottom-nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    .team {
        margin: 5px;
        margin-top: 100px;
    }
}


@media screen and (max-width: 420px) {
    .profile-pic {
        margin: 5px;
    }

    #div-img1 {
        width: 180px;
    }
}

@media screen and (max-width: 320px) {
    #div-img1 {
        width: 140px;
    }

    #pic1 {
        width: 100px;
    }
    
    #pic2 {
        width: 120px;
    }
}
